*{
    padding: 0;
    margin: 0;
}
.fruitables{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow;
    padding-top: 4px;
}
.navbar1{
   margin-left: 200px;

}
.home{
    color: rgb(104, 239, 51);
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}
.navtext{
    font-size: 17px;
    font-weight: 500;
    color: grey;
}
.nav3{
display: flex;
justify-content: space-evenly;
}
.form-control{
    width: 150px;
    border: 2px solid greenyellow;
}
#titleid{
    font-size: 50px;
    font-weight: 800;
    color: black;
}
#descriptionid{
    font-size: 30px;
    font-weight: 300;
    color: gray;
}
#categoryid,#ratingid{
    font-size: 30px;
    font-weight: 500;
    color: gray;
}
.carouseldiv{
    display: flex;
    
}
.carouselimg{
    width: 300px;
    height: 300px;
    margin-left: 15px;
}
.carouselimg1{
    width: 150px;
    height: 150px;
}
#maindiv{
    width: 100%;
}
#datacontainer1{
    width: 90%;
    
}
#titleid2{
    font-size: 15px;
    font-weight: 700;
}
#categoryid2{
    font-size: 15px;
    font-weight: 700;
    color: gray;
}
.carouselimg1:hover {
    width: 175px;
    height: 175px;
}
.jwellery{
    font-size: 40px;
    font-weight: 700;
    color: black;

}